## Подготовка

### Пакеты

In [3]:
import numpy as np
import pandas as pd

## Данные

In [4]:
!unzip -nq archive.zip

In [5]:
df = pd.read_csv("places_address_elements.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1519319 entries, 0 to 1519318
Data columns (total 15 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   region_name                1519319 non-null  object
 1   region_type_name           1519319 non-null  object
 2   region_type_name_short     1519319 non-null  object
 3   area_name                  1126760 non-null  object
 4   area_type_name             1126760 non-null  object
 5   area_type_name_short       1126760 non-null  object
 6   city_name                  1405599 non-null  object
 7   city_type_name             1405599 non-null  object
 8   city_type_name_short       1405599 non-null  object
 9   territory_name             429869 non-null   object
 10  territory_type_name        429869 non-null   object
 11  territory_type_name_short  429869 non-null   object
 12  street_name                1173257 non-null  object
 13  street_type_name           1173257 non-null  object
 14  street_type_name_short     1173257 non-null  object
dtypes: object(15)
memory usage: 173.9+ MB

Удалим стролбцы, которые не нужны при последующем анализе данных

In [7]:
df.head(2)

,region_name,region_type_name,region_type_name_short,area_name,area_type_name,area_type_name_short,city_name,city_type_name,city_type_name_short,territory_name,territory_type_name,territory_type_name_short,street_name,street_type_name,street_type_name_short
0,Адыгея,Республика,Респ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Башкортостан,Республика,Респ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.loc[[123]]

,region_name,region_type_name,region_type_name_short,area_name,area_type_name,area_type_name_short,city_name,city_type_name,city_type_name_short,territory_name,territory_type_name,territory_type_name_short,street_name,street_type_name,street_type_name_short
123,Санкт-Петербург,Город,г,NaN,NaN,NaN,Санкт-Петербург,Город,г,NaN,NaN,NaN,Петровская,Аллея,аллея

## Первичный анализ данных

### Незаполненные данные

In [9]:
for col in df.columns:
    s = df[col].isna().sum()
    if (s>0):
        print(f"{col} has NA values. count is {s}")

area_name has NA values. count is 392559
area_type_name has NA values. count is 392559
area_type_name_short has NA values. count is 392559
city_name has NA values. count is 113720
city_type_name has NA values. count is 113720
city_type_name_short has NA values. count is 113720
territory_name has NA values. count is 1089450
territory_type_name has NA values. count is 1089450
territory_type_name_short has NA values. count is 1089450
street_name has NA values. count is 346062
street_type_name has NA values. count is 346062
street_type_name_short has NA values. count is 346062

In [10]:
df = df.fillna('')

### Базовые статистики
#### Число уникальных регионов

In [11]:
# Число уникальных регионов
df.region_name.nunique()

90

#### Типы адм. районов

#### Типы нас. пунктов
Самые частые названия типы населенных пунктов

In [12]:
df.city_type_name.value_counts().head()

city_type_name
Город      494206
Село       369252
Деревня    241092
Поселок    143555
           113720
Name: count, dtype: int64

In [13]:
# Самые редкие типы "нас. пунктов"
df.city_type_name.value_counts().tail()

city_type_name
Выселки                     3
Леспромхоз                  3
Железнодорожная площадка    2
Сельский округ              1
Квартал                     1
Name: count, dtype: int64

### Названия городов/поселков

Названия городов/поселков, которые содержат 2 и менее символов:

In [14]:
df.query('city_name.str.len()<=2').city_name.unique()

array(['', 'Юр', 'Яр', 'Ур', 'Ям', 'Ай', 'Ик', 'Ыб', 'Яг', 'Уя', 'Иг',
       'Ут', 'Ей', 'Ту', 'Ук', 'Юг', 'Яя', '18', '3', '21', 'Юм', 'Ой',
       'Аю', 'Ая', 'Иж', 'Ий', 'Ир', 'Яз', 'Ея'], dtype=object)

#### Название территорий

In [15]:
df.query('territory_name.str.len()<=2').territory_name.unique()

array(['', '89', '17', '1а', '10', '1', '14', '7', '18', '16', '6', '5',
       '9', '20', '11', '15', '24', '4', '23', '19', '12', '26', '8а',
       '2', '8', '3', '13', '22', '21', '25', '5а', '6а', '7а', '28',
       'Юг', 'N5', 'N4', 'N8', 'N7', 'N2', 'N6', 'N3', 'N1', 'N9', '63',
       'Еж', '50', '31', '35', '57', '5б', '96', '4А', '3б', '55', '49',
       '51', '45', '36', '46', '42', '43', '41', '8А', '27', '53', '39',
       '1А', '44', '54', '56', '29', '33', '48', '40', '34', '52', '32',
       '38', '30', '37', 'Ия', 'Ям', 'М5', '3А', '№3', '№2', '№1', '№6',
       '№7', '№8', '№4', '№9', '№5', 'М3', 'М2', 'М7', 'М6', '3Е', 'М4',
       '69', '60', '75', '72', '65', '67', '73', '90', '77', '71', '58',
       '74', '76', '79', '78', '81', '62', '47', '97', '91', '70', '61',
       '94', '66', '99', '80', '82', '92', '64', '98', '83', '95', '68',
       '86', '87', '84', '85', '0', '88', '59', 'Б', 'Л', '93', 'А', 'Д',
       'Г', 'В', '05', '03', '06', '08', '01', '09', '02', '04', '07',
       '5А', '7Б', '5Б', '2А', '3а', '4а', 'Е', 'Р', 'П', 'Р`', 'Н', 'И',
       '9А', 'К', 'М', '6А', '6Б', 'Ис', 'СУ', 'ПК', 'КС', 'Ай', 'СХ',
       'Уя', 'С6', 'Л9', 'К1', 'С2', 'С4', 'Г2', 'Л5', 'Л3', 'С1', 'Г4',
       'Л6', 'С8', 'Л7', 'С7', 'Л8', 'Г1', 'С5', 'Л2', 'С3', 'Л1', 'Л4',
       'С9', 'К2', 'П1', 'Г3', 'Г5', '1б', 'ИР', 'ЮГ', 'АС', 'Ял', 'Зс',
       'Яр', '2г', 'РЦ', 'А6', 'А2', 'А1', 'А5', 'А7', 'А3', 'Б5', 'А8',
       'Б6', 'Б1', 'Б4', 'Б2', 'А4', 'Б3', 'А9', '2а', 'ТП', '2В', 'Гу',
       'ГП', 'СК', 'ВС', 'ВК', 'Ив', 'Ёж', '6б'], dtype=object)

In [16]:
def name_with_type(name, type, last_comma = True):
    if name=='':
        return ''
    else:
        return name + " " + type + (', ' if last_comma else '')

def adm_format(x):
    return name_with_type(x.region_name, x.region_type_name) \
        + name_with_type(x.area_name, x.area_type_name) \
        + name_with_type(x.city_name, x.city_type_name) \
        + name_with_type(x.territory_name, x.territory_type_name) \
        + name_with_type(x.street_name, x.street_type_name, False)

In [17]:
df['adm_div'] = df.apply(lambda x: adm_format(x), axis=1)

In [18]:
df.adm_div.sample(10)

899383     Башкортостан Республика, Абзелиловский Район, ...
988571     Самарская Область, Кинель-Черкасский Район, Ти...
304378     Приморский Край, Уссурийск Город, Тополек Терр...
1309322    Адыгея Республика, Майкоп Город, Садовод-2 Тер...
404248     Саратовская Область, Энгельс Город, Беломорска...
1353216    Ростовская Область, Заветинский Район, Фомин Х...
994396     Амурская Область, Ивановский Район, Березовка ...
1001462    Воронежская Область, Богучарский Район, Красно...
120688     Амурская Область, Благовещенск Город, 510 Квар...
712922     Липецкая Область, Лев-Толстовский Район, совхо...
Name: adm_div, dtype: object

#### Длины полных наименований

In [19]:
df['adm_len'] = df.adm_div.str.len()

In [20]:
df.adm_len.hist(legend='y')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

Длинные (больше 200 символов) названия мест в административно-территориальном делении

In [ ]:
df.query('adm_len>200').adm_div

#### Количество слов в адресе

In [ ]:
df['adm_adr_word_count'] = df.adm_div.apply(lambda x: len(x.split()))

In [ ]:
df.adm_adr_word_count.hist(legend='y')

In [ ]:
df.adm_adr_word_count.mean()

### Дополнительно. Справочники сокращений типов адресообразующих элементов

Дополнительно составим справочник сокращений. Он будет использоваться при аугментации данных - генерации возможных вариантов написания адреса.

In [ ]:
cdf = df[['city_type_name', 'city_type_name_short']].copy()
cdf.drop_duplicates(inplace=True)
cdf = cdf.rename(columns={'city_type_name':'type_name', 'city_type_name_short': 'type_name_short'})

In [ ]:
tdf = df[['territory_type_name', 'territory_type_name_short']].copy()
tdf.drop_duplicates(inplace=True)
tdf = tdf.rename(columns={'territory_type_name': 'type_name', 'territory_type_name_short': 'type_name_short'})

In [ ]:
sdf = df[['street_type_name', 'street_type_name_short']].copy()
sdf.drop_duplicates(inplace=True)
sdf = sdf.rename(columns={'street_type_name': 'type_name', 'street_type_name_short': 'type_name_short'})

In [ ]:
adf = df[['area_type_name', 'area_type_name_short']].copy()
adf.drop_duplicates(inplace=True)
adf = adf.rename(columns={'area_type_name': 'type_name', 'area_type_name_short': 'type_name_short'})

In [ ]:
rdf = df[['region_type_name', 'region_type_name_short']].copy()
rdf.drop_duplicates(inplace=True)
rdf = rdf.rename(columns={'region_type_name':'type_name', 'region_type_name_short': 'type_name_short'})

Объединяем все справочники в 1 чистим дубликаты и сохраняем в файл

In [ ]:
types_df = pd.concat([cdf, sdf, rdf, tdf, sdf])
types_df.drop_duplicates(inplace=True)
types_df.to_csv("types.csv")